<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="flex-container">
    <div class="banner-text text-center">
      <h1>Save any kind of <strong>movies</strong></h1>
      <p>& chill</p>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="page-header-spaced">
    <h1>All Lists</h1>
    <%= link_to "Create list", new_list_path, class:"btn btn-flat btn-right"%>
  </div>

    <div class="list-card-container">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : "https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"%>')">
            <div class="flex-box">
              <h2 class="list-name"><%= list.name %></h2>
              <p class="list-movie-count">
                <% if list.bookmarks.count == 1 %>
                  <%= list.bookmarks.count %> movie
                <% else %>
                  <%= list.bookmarks.count %> movies
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-container">
      <div class="form-styled">
        <%= render "shared/form_new_list", list: @list %>
      </div>
    </div>
</div>
