<%#= if @list.photo.attached? %>
 <%#= cl_image_tag(@list.photo.key) width: 400, height: 300, crop: :fill %>
<%#= else %>
  <%#= image_tag "https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" %>
<%# end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key, height: 300, crop: :fill) : "https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"%>')">
    <div class="flex-container">
      <h1><%= @list.name %></h1>
      <div id="movie-count-top-right">
        <h2 id="movie-count">
          <% if @list.bookmarks.count == 1 %>
            <%= @list.bookmarks.count %> movie
          <% else %>
            <%= @list.bookmarks.count %> movies
          <% end %>
        </h2>
      </div>
    </div>
</div>

<div class="container">
  <%# <div class="bookmarks-list-header"> %>
    <%#= link_to 'New Bookmark', new_list_bookmark_path(list_id: @list), class:'btn btn-flat btn-right' %>
  <%# </div> %>

  <div class="bookmarks-flex-container">
    <div class="cards-bookmarks">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie">
        <%= image_tag bookmark.movie.poster_url, alt: "", width: 200, class:"card-img-top" %>
        <div class="card-movie-infos">
          <div class="card-movie-details">
            <h2 id="card-movie-title"><%= bookmark.movie.title %></h2>
            <p id="card-movie-overview"><%= bookmark.movie.overview %></p>
          </div>
          <div class="card-movie-footer">
            <p id="card-movie-comment"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %> <i class="fa-solid fa-quote-right"></i></p>
            <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, id:"card-movie-delete"%>
          </div>
        </div>
        </div>
      <% end %>
    </div>

    <div class="bookmarks-container-right">
      <%= render "shared/form_new_bookmark", bookmark: @bookmark %>

      <div class="list-actions">
        <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger"%>
        <%= link_to "Edit", edit_list_path(@list), class:"btn btn-warning"%>
      </div>
    </div>

  </div>
</div>
