<%#= if @list.photo.attached? %>
 <%#= cl_image_tag(@list.photo.key) width: 400, height: 300, crop: :fill %>
<%#= else %>
  <%#= image_tag "https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" %>
<%# end %>

<%= render 'shared/list_banner' %>

<div class="container">
  <%# <div class="bookmarks-list-header"> %>
    <%#= link_to 'New Bookmark', new_list_bookmark_path(list_id: @list), class:'btn btn-flat btn-right' %>
  <%# </div> %>

  <div class="bookmarks-flex-container">
    <div class="cards-bookmarks">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie">
        <%= image_tag bookmark.movie.poster_url, alt: "", width: 200, class:"card-img-top" %>
        <div class="card-movie-infos">
          <div class="card-movie-details">
            <h2 id="card-movie-title"><%= bookmark.movie.title %></h2>
            <p id="card-movie-overview"><%= bookmark.movie.overview %></p>
          </div>
          <div class="card-movie-footer">
            <p id="card-movie-comment"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %> <i class="fa-solid fa-quote-right"></i></p>
            <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, id:"card-movie-delete"%>
          </div>
        </div>
        </div>
      <% end %>
    </div>

    <div class="bookmarks-container-right">
      <%= render "shared/form_new_bookmark", bookmark: @bookmark %>
    </div>

  </div>
</div>
